# Default values for aerospike-xdr-proxy.
# This is a YAML-formatted file.

replicaCount: 1

image:
  repository: aerospike/aerospike-xdr-proxy
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# Default XDR Proxy configuration.
# Visit: https://www.aerospike.com/docs/connectors/enterprise/xdr-proxy/configuration/index.html
proxyConfig:
  service:
    port: 8901
    socket-receive-buffer-bytes: 131072
    protocol: HTTP_2
    manage:
      address: 0.0.0.0
      port: 8902

  aerospike:
    seeds:
      - localhost:
          port: 3000
    performance:
      max-connections-per-node: 100
      event-loop-size: 15

  logging:
    enable-console-logging: true
    file: /var/log/aerospike-xdr-proxy/aerospike-xdr-proxy.log
    ticker-interval: 1

# List of secrets mounted to /etc/aerospike-xdr-proxy/secrets for each proxy pod.
# Can be used for TLS certificates and credentials
proxySecrets: []

# List of initContainers to be added for each proxy pod.
# Can be used to copy custom code plugins jars to /opt/aerospike-xdr-proxy-init
initContainers: []
  # - name: aerospike-xdr-proxy-init
  #   image: "aerospike/aerospike-connect-custom-transformers:1.0.0" # Image containing custom code plugins jars
  #   imagePullPolicy: IfNotPresent
  #   command: ["/bin/sh", "-c"]
  #   # Update args to copy all the jars from init container to emptyDir volume path
  #   args:
  #     - |
  #       set -e
  #       cp -r /etc/aerospike-connector-custom-transformers/aerospike-xdr-proxy-custom-transformers.jar /opt/aerospike-xdr-proxy-init
  #   volumeMounts:
  #     - name: aerospike-xdr-proxy-init
  #       mountPath: /opt/aerospike-xdr-proxy-init

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
