# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
#templates/configMaps.yaml
#templates/cronjob.yaml
#templates/compactor.yaml
#templates/hpa.yaml
#templates/ingress.yaml
#templates/job.yaml
#templates/queue-handler.yaml
#templates/rest-backend.yaml
#templates/rolebinding.yaml
#templates/roles.yaml
#templates/service.yaml
#templates/serviceaccount.yaml
#templates/servicemonitor.yaml
#templates/smd-handler.yaml
#templates/storage-provider.yaml
#templates/xdr-scheduler.yaml
#templates/xdr-transformer.yaml
templates/tests